<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Meal Catcher</h3>
              <p>
                Best Restaurants <br>
                Pakistan<br><br>
                <strong>Phone:</strong> +92 309 5643890<br>
                <strong>Email:</strong> meal@catcher.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https:www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https:www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https:www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https:www.skype.com" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="https:www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Items</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Deals</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Platform</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Restaurants</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find Restaurants</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Complain Box</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pros & Cons</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sentimental Analysis</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Meal Catcher</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->