{% extends 'restaurant/clients/base_template.html' %}
{% block page_title %}
Add Item
{% endblock page_title %}
{% block main_content %}
{%load static%}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                    <h3 class="card-title">Item</h3>
                    </div>
                    <form action="{{ request.get_full_path }}" method="POST" class="form-row d-block" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            {% if form.name.errors %}
                                {% for err_name in form.name.errors %}
                                    <p>Name 
                                        {{err_name | escape}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.logo.errors %}
                            {% for err_logo in form.logo.errors %}
                                <p>Logo 
                                    {{err_logo | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.price.errors %}
                            {% for err_price in form.price.errors %}
                                <p>Price 
                                    {{err_price | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.disc_percent.errors %}
                            {% for err_disc_percent in form.disc_percent.errors %}
                                <p>Discount Percentage 
                                    {{err_disc_percent | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.is_any_discount.errors %}
                            {% for err_is_any_discount in form.is_any_discount.errors %}
                                <p>is_any_discount 
                                    {{err_is_any_discount | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.is_size.errors %}
                            {% for err_is_size in form.is_size.errors %}
                                <p>is_size 
                                    {{err_is_size | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        {% for f in form %}
                            <div class="form-group">
                                {{f.label_tag}}
                                {{f}}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
