{% extends 'restaurant/clients/base_template.html' %}
{% block page_title %}
Add Item Discount
{% endblock page_title %}
{% block main_content %}
{%load static%}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                    <h3 class="card-title">Item Discount</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="{{ request.get_full_path }}" method="POST" class="form-row d-block" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                        {% if form.is_other_discount.errors %}
                            {% for err_is_other_discount in form.is_other_discount.errors %}
                                <p>is_other_discount
                                    {{err_is_other_discount | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {% if form.is_mc_discount.errors %}
                            {% for err_is_mc_discount in form.is_mc_discount.errors %}
                                <p>is_MC_discount 
                                    {{err_is_mc_discount | escape}}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.errors %}
                                {% for errors in form.non_field_errors %}
                                    <p>{{errors | escape}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% for f in form %}
                            <div class="form-group">
                                {{f.label_tag}}
                                {{f}}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
